#body{
	border:1px solid;
	width:100%;
	height:auto;
	background:url("img/t6.jpg");
	
}
#body #feedback_area{
	padding:3%;
}
#body #comments{
	display:none;
}

#body #feedback_area a{
    color:#fff;
	font-size:1.1em;
}

#body #feedback_area h3{
	  color:#fff;
}
#body #feedback_area p{
	  color:#000;
	  font-size:1.3em;
}
#body .commentlist{
	float:right;
	background:#de951d;
	border-radius:5%;
	opacity:0.8;
	width:30%;
}

#body .commentlist li{
	padding:2%;
}

#body #respond{
	width:60%;
}
#body #comment{
	width:80%;
}

#footer #footer1{
	border:1px solid;
	height:50%;
	width:100%;
	background:url("img/back.jpg");
	display:none;
}

/*---------------------------------------------------------*/ 
/*the code of css for page-breakfast is going to over here */	 
/*---------------------------------------------------------*/



/*---------------------------------------------------------*/ 
/*the code of css for category-news is going to over here */	 
/*---------------------------------------------------------*/
#news_id{
	height:50%;
	background:#de951d;
	width:80%;
	opacity:0.9;
	margin:2% 12%;
    border-radius:5%;	
}

#news_id h3{
	padding:3%;
	text-align:center;
}

#news_id h1{
	padding:3%;
}